{% extends 'base.html' %}

{% block content %}

{% if error %}
{{error}}
<br />
<br />

{% endif %}

<h1>Drop Cycle</h1>

<!--<form method="POST" action="{% url 'pickcycle' %}">
    {% csrf_token %}
    <textarea name="message" placeholder="message...."></textarea>
    <input type="submit" />
</form>-->

<form method="POST" action="{% url 'dropcycle' %}">
        {% csrf_token %}
    EnterCycleId:
    <br />
    <input type="text" name="cycleid" />
    <br />
    EnterLocationId:
    <br />
    <input type="text" name="locationid" />
    <br />
    <br />
    <input class="btn btn-outline-primary" type="submit" value="Drop Cycle" />
</form>

<br />
<br />
<h4>Your balance is {{balance}} & Your picked cycle:</h4>
<table class="table">
    <thead>
    <tr>
        <th scope="col">cycle id</th>
        <th scope="col">cycle name</th>
        <th scope="col">cycle model</th>
        <th scope="col">owner </th>
        <th scope="col">image </th>
        <th scope="col">locationid </th>
        <th scope="col">pick date </th>
    </tr>
    </thead>
    <tbody>
        {% for cycle in allcycle %}
        <tr>
            <td>{{ cycle.cycle_info.id }}</td>
            <td>{{ cycle.cycle_info.CycleName }}</td>
            <td>{{ cycle.cycle_info.CycleModelName }}</td>
            <td>{{ cycle.cycle_info.OwnerId }}</td>
            <td><img src="/media/{{ cycle.cycle_info.image }}" alt="cycle" style="width:50px; height:50px"> </td>
            <td>{{ cycle.pick_info.locationid }}</td> 
            <td>{{ cycle.pick_info.pick_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Location Id</th>
        <th scope="col">Location Name</th>
      </tr>
    </thead>
    <tbody>
        {% for location in locations %}
        <tr>
            <td>{{ location.LocationId }}</td>
            <td>{{ location.LocationName }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}