{% extends 'base.html' %}
{% block title %}Green City | FAQ{% endblock %}
{% block content %}
    <div class="container">
        <div class="row p-1 text-center">
            <div class="card bg-light mb-3 mt-3 mx-auto" style="width: 55rem;">
                <div class="card-body">
                    <h2>FAQ</h2>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            <a href="{% url 'home' %}">Home</a>
                        </small>
                    </div>
                    <hr>
                    <h3> Project Setup </h3>
                    <h5>For web application</h5>
                    <div class="text-left">
                        <p>
                            * install python 3.* 32bit
                        </p>
                        <p>* [clone the repository](https://github.com/anwar-ul-azim/green-city.git)</p>
                        <p>* $ `cd green-city`</p>
                        <p>* $ `pip install -r requirements.txt`</p>
                        <p>* $ `python manage.py migrate` **create db tables**</p>
                        <p>* $ `python manage.py runserver` **create dev server @localhost:8000/**</p>
                    </div>

                    <h5>optional</h5>
                    <div class="text-left">
                        <p>* $ `python manage.py makemigrations` **state db changes**</p>
                        <p>* $ `python manage.py collectstatic` **create static folders**</p>
                        <p>* $ `python manage.py createsuperuser` **create super user**</p>
                    </div>
                        
                    <h3> Config </h3>
                    <h3> API</h3>
                    <h3> Development Guide:</h3>
                    <ul>
                        <li>
                            commit all your work in a separate branch.
                        </li>
                        <li>
                            named your branch starting with "GC_".
                        </li>
                        <li>
                            commit after completing every task, and 
                            try to write a understandable message & 
                            test your own code(valid code) 
                        </li>
                        <li>
                            make a pull request after completing 
                            an issue by mentioning the issue.
                        </li>
                    </ul>


                    <h3> License</h3>
                    <h6>
                        **Green-city is an open source project. Anyone can copy, modify and distribute it.**
                    </h6>


                    <h3> Links  </h3>
                    <p>
                        [Term & Policy](#) | |
                        [django rest](https://www.django-rest-framework.org/) | |
                        [django](https://www.djangoproject.com/) | |
                        [react native](https://facebook.github.io/react-native/) | |
                        [bootstrap](https://getbootstrap.com/docs/4.0/getting-started/introduction/) | |
                        [bootswatch](https://bootswatch.com/) | |
                        [google fonts](https://fonts.google.com/) | |
                        [font awesome](https://fontawesome.com/) | |
                    </p>
                </div>  
            </div>    
        </div>    
    </div>
{% endblock %}