<!-- Footer -->
<footer class="container-fluid bg-primary text-dark">
    <div class="container pt-5 mt-3">
        <div class="row">
            <div class="col-md-4">
                <p>phone</p>
                <p>email</p>
                <p>address</p>
            </div>
            <div class="col-md-4">
                <p>facebook</p>
                <p>instagram</p>
                <p>twitter</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p> &copy; 2018 - {% now "Y" %} BicycleSharing </p>
                <p> All Rights Reserved | supported@bicyclesharing.com </p>
            </div>
        </div>
    </div>
</footer>