{% extends 'base.html' %}
{% block title %}Green City{% endblock %}
{% block content %}
    <div class="container">
        <div class="row p-1 text-center">
            <div class="card bg-light mb-3 mt-3 mx-auto" style="width: 55rem;">
                <div class="card-body">
                    <h2>Home</h2>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            <a href="{% url 'login' %}">sign in </a> | or
                            <a href="{% url 'register' %}">sign Up </a>
                        </small>
                    </div>
                </div>  
            </div>    
        </div>    
    </div>
    <div class="container">
        <div class="row p-1 text-center">
            <div class="card bg-light mb-3 mt-3 mx-auto" style="width: 55rem;">
                <div class="card-body">
                    <h2>Cycles</h2>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            <p>all cycles</p>
                        </small>
                    </div>
                </div>  
            </div>    
        </div>    
    </div>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

{% comment %} var disqus_config = function () {
this.page.url = "http://127.0.0.1:8000/";  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
}; {% endcomment %}

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://http-127-0-0-1-8000-krzcbzesgz.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>

<script id="dsq-count-scr" src="//http-127-0-0-1-8000-krzcbzesgz.disqus.com/count.js" async></script>                  
{% endblock %}