{% extends 'base.html' %}
{% block title %}Green City{% endblock %}
{% block content %}
    <div class="container">
        <div class="row p-1 text-center">
            <div class="card bg-light mb-3 mt-3 mx-auto" style="width: 55rem;">
                <div class="card-body">
                    <h2>Home</h2>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            <a href="{% url 'login' %}">sign in </a> | or
                            <a href="{% url 'register' %}">sign Up </a>
                        </small>
                    </div>
                </div>  
            </div>    
        </div>    
    </div>
    <div class="container">
        <div class="row p-1 text-center">
            <div class="card bg-light mb-3 mt-3 mx-auto" style="width: 55rem;">
                <div class="card-body">
                    <h2>Cycles</h2>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            <p>all cycles</p>
                        </small>
                    </div>
                </div>  
            </div>    
        </div>    
    </div>                
{% endblock %}