{% extends 'base.html' %}
{% block title %}Post Details{% endblock %}
{% block content %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=2028849664104473&autoLogAppEvents=1"></script>
    <div class="container">
        <div class="row p-1 text-center">
            <div class="card  mb-3 mt-3 mx-auto" style="width: 55rem;">
                <div class="card-header">
                    <h2> {{ post.title }} </h2>
                </div>
                <div class="card-body text-left">
                    <h1 class="text-center"><img src="{{ post.image.url }}" class="img-fluid"/></h1>
                    <h5>Posted by {{ post.author.username }}, on {{ post.date }}</h5><hr>
                    <p>{{ post.body | safe }}</p>
                    <!-- fb comment -->
                    <div class="fb-comments m-5" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
                </div>  
            </div>    
        </div>    
    </div>
{% endblock %}


